*~
[#]*[#]
__pycache__/
.DS_Store
.#*
*.out
*.pyc
*.swp
*.db
*.pid
*.log
*.idea
.pytest_cache
settings.py
.idea/
venv/
docker/data/
docker/logs/

# vue
vue_project/bossapp/node_modules/
pf.senguo.cc/vue_project/bossapp/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

vue_project/bossapp/node_modules/
**/node_modules

vue_project/cashier/node_modules/
**/node_modules